<div >
  <h1>{{nome | uppercase}}</h1>
  <!--<h1>{{dataAniversario | date | uppercase}}</h1>-->
  <h1>{{dataAniversario | date:'dd/MM/yyyy'}}</h1>
  <!--10 NUMEROS INTEIROS, E 4 DIGITOS MINIMO  APÓS O PONTO E 4 MÁXIMOS APOS O PONTO-->
  <h1>{{preco | number:'1.4-4'}}</h1>
  <!--FALSE QUER DIZER QUE NAO VAI MOSTRAR O SIMBOLO DA MOEDA-->
  <h1>{{troco | currency:'BRL':false:'1.4-4'}}</h1>
</div>
